@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

// colors
$pink: hsl(322, 100%, 66%);
$pale-cyan: hsl(193, 100%, 96%);
$dakr-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

// glabal styles
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: $dakr-cyan;
  height: 100%;
}

.container {
  padding: 0 1.5rem;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 2vmin;
  color: $grayish-blue;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  align-items: center;

  & > div {
    flex: 1;
  }
}

.btn {
  padding: 1rem 4rem;
  background: white;
  border: none;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0px 10px 11px -5px rgba(0, 0, 0, 0.15);
}

.btn-primary {
  padding: 1.5rem 4.5rem;
  background-color: $pink;
  color: white;
  margin-top: 1.5rem;
}

// content styles
header {
  background: url("images/bg-hero-desktop.svg") no-repeat center/ cover,
    $pale-cyan;
  padding: 3rem 3rem 4rem 3rem;

  .navigation {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;

    .logo {
      width: 13rem;
    }
  }

  .hero {
    justify-content: space-between;

    .heading {
      max-width: 45%;

      h1 {
        font-size: 2.9vw;
        font-weight: 700;
      }
    }

    .hero-img {
      margin-left: 2.5rem;
    }
  }
}

main {
  .container {
    margin-top: 15vh;
  }

  .box {
    box-shadow: 0px 3px 24px -6px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin: 3rem 0;
    padding: 3rem 0.8rem 3rem 3rem;
    background-color: white;

    .content {
      padding: 3rem;

      h2 {
        margin-bottom: 1rem;
      }
    }

    .illustration-wrapper {
      display: flex;
      justify-content: flex-end;
      width: 80%;
      padding: 1.5rem 1rem;

      img {
        width: 80%;
      }
    }
  }

  .reverse {
    .illustration-wrapper {
      justify-content: flex-start;
    }
  }
}

.small-box {
  background-color: white;
  justify-content: center;
  max-width: 55vw;
  text-align: center;
  box-shadow: 0px 3px 24px -6px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 8rem auto 0.5rem auto;
  padding: 5vh 2vw;

  h2 {
    font-size: 2rem;
  }

  .btn-primary {
    margin-top: 0;
    padding: 3vh 7.5vw;
    font-size: 1.4rem;
  }
}

footer {
  background: $dakr-cyan;
  padding: 180px 0 60px;
  color: white;
  position: relative;
  margin-top: -85px;
  z-index: -1;

  p {
    text-align: left;
    color: white;
  }

  ul {
    list-style-type: none;
  }

  .flex > div {
    flex: 0.5;
  }

  .flex-st {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-sart;

    .informations {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 0;

      .row {
        display: inline-flex;
        align-items: center;

        p {
          margin: 0.5rem;
        }

        .icon {
          width: 23px;
          align-self: center;
          margin-right: 2rem;
        }
      }
    }

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-left: 0;
      flex: 0.4;

      li:not(:first-child) {
        padding-top: 1rem;
      }
    }

    .social {
      li {
        border: 1px solid white;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
        flex: 0.5;

        a {
          color: $pale-cyan;
        }
      }
    }
  }

  .copy {
    margin-top: 1rem;
    text-align: right;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  header {
    padding: 3rem 1rem 4rem 1rem;
    .navigation {
      margin-bottom: 8rem;

      .btn {
        padding: 0.7rem 3rem;
      }
    }

    .hero {
      flex-direction: column;
      .heading {
        max-width: 83%;

        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1.6rem;
          color: $dakr-cyan;
          line-height: 1.6;
          max-width: 95%;
          margin: 2rem auto;
        }
      }

      .btn-primary {
        padding: 1.35rem 6.2rem;
        font-size: 1.3rem;
      }

      .hero-img {
        width: 76%;
        margin: 6rem 0 1rem 0;

        img {
          width: 100%;
        }
      }
    }
  }

  main {
    .container {
      margin-top: 12vh;
      padding: 0 3rem;
    }

    .box {
      padding: 4rem 1rem 1.5rem 1rem;

      .content {
        padding: 1.5rem;

        h2 {
          font-size: 2.2rem;
        }

        p {
          font-size: 1.4rem;
          max-width: 75%;
          margin: 0 auto;
        }
      }

      .illustration-wrapper {
        padding: 0;
        max-width: 82%;

        img {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }

  .flex {
    flex-direction: column-reverse;
  }

  .navigation {
    flex-direction: row;
  }

  .reverse {
    flex-direction: column;
  }

  .social {
    flex-direction: row;
  }
}
