@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #00252e;
  height: 100%;
}

.container {
  padding: 0 1.5rem;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 2vmin;
  color: #808d99;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn {
  padding: 1rem 4rem;
  background: white;
  border: none;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  -webkit-box-shadow: 0px 10px 11px -5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 11px -5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: 0.1s ease-in all;
  transition: 0.1s ease-in all;
}

.btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0px 5px 11px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 11px -5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background: #ff75cd;
}

.btn-primary {
  padding: 1.5rem 4.5rem;
  background-color: #ff52bf;
  color: white;
  margin-top: 1.5rem;
  cursor: pointer;
}

header {
  background: url("images/bg-hero-desktop.svg") no-repeat center/cover, #ebfbff;
  padding: 3rem 3rem 4rem 3rem;
}

header .navigation {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

header .navigation .logo {
  width: 13rem;
}

header .hero {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .hero .heading {
  max-width: 45%;
}

header .hero .heading h1 {
  font-size: 2.9vw;
  font-weight: 700;
}

header .hero .hero-img {
  margin-left: 2.5rem;
}

main .container {
  margin-top: 15vh;
}

main .box {
  -webkit-box-shadow: 0px 3px 24px -6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 24px -6px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 3rem 0;
  padding: 3rem 0.8rem 3rem 3rem;
  background-color: white;
}

main .box .content {
  padding: 3rem;
}

main .box .content h2 {
  margin-bottom: 1rem;
}

main .box .illustration-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 80%;
  padding: 1.5rem 1rem;
}

main .box .illustration-wrapper img {
  width: 80%;
}

main .reverse .illustration-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.small-box {
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 55vw;
  text-align: center;
  -webkit-box-shadow: 0px 3px 24px -6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 24px -6px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 8rem auto 0.5rem auto;
  padding: 5vh 2vw;
}

.small-box h2 {
  font-size: 2rem;
}

.small-box .btn-primary {
  margin-top: 0;
  padding: 3vh 7.5vw;
  font-size: 1.4rem;
}

footer {
  background: #00252e;
  padding: 180px 0 60px;
  color: white;
  position: relative;
  margin-top: -85px;
  z-index: -1;
}

footer p {
  text-align: left;
  color: white;
}

footer ul {
  list-style-type: none;
}

footer .flex > div {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

footer .flex-st {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: flex-sart;
      -ms-flex-align: flex-sart;
          align-items: flex-sart;
}

footer .flex-st .informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

footer .flex-st .informations .row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .flex-st .informations .row p {
  margin: 0.5rem;
}

footer .flex-st .informations .row .icon {
  width: 23px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 2rem;
}

footer .flex-st .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 0;
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

footer .flex-st .menu li:not(:first-child) {
  padding-top: 1rem;
}

footer .flex-st .social li {
  border: 1px solid white;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

footer .flex-st .social li a {
  color: #ebfbff;
}

footer .copy {
  margin-top: 1rem;
  text-align: right;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header {
    padding: 3rem 1rem 4rem 1rem;
  }
  header .navigation {
    margin-bottom: 8rem;
  }
  header .navigation .btn {
    padding: 0.7rem 3rem;
  }
  header .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .hero .heading {
    max-width: 83%;
  }
  header .hero .heading h1 {
    font-size: 3rem;
  }
  header .hero .heading p {
    font-size: 1.6rem;
    color: #00252e;
    line-height: 1.6;
    max-width: 95%;
    margin: 2rem auto;
  }
  header .hero .btn-primary {
    padding: 1.35rem 6.2rem;
    font-size: 1.3rem;
  }
  header .hero .hero-img {
    width: 76%;
    margin: 6rem 0 1rem 0;
  }
  header .hero .hero-img img {
    width: 100%;
  }
  main .container {
    margin-top: 12vh;
    padding: 0 3rem;
  }
  main .box {
    padding: 4rem 1rem 2rem 1rem;
  }
  main .box .content {
    padding: 1.5rem;
  }
  main .box .content h2 {
    font-size: 2.2rem;
  }
  main .box .content p {
    font-size: 1.4rem;
    max-width: 75%;
    margin: 0 auto;
  }
  main .box .illustration-wrapper {
    padding: 0;
    max-width: 82%;
  }
  main .box .illustration-wrapper img {
    width: 80%;
    margin: 0 auto;
  }
  .small-box {
    max-width: 88vw;
    padding: 6vh 2vw;
  }
  .small-box .btn-primary {
    margin-top: 0.5rem;
    padding: 2.3vh 10vw;
    font-size: 1.2rem;
  }
  footer {
    text-align: left;
  }
  footer .ft-logo {
    margin-right: auto;
    padding-left: 2rem;
  }
  footer p {
    text-align: left;
    color: white;
  }
  footer ul {
    font-size: 1.7rem;
  }
  footer .flex-st {
    padding: 0 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .flex-st .informations {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 1.5rem;
  }
  footer .flex-st .informations .address .icon {
    width: 43px;
  }
  footer .flex-st .informations .row {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .flex-st .informations .row p {
    margin: 0.5rem;
    font-size: 1.7rem;
  }
  footer .flex-st .informations .icon {
    width: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 2rem;
  }
  footer .flex-st .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 1rem;
  }
  footer .flex-st .menu li {
    padding-top: 0.9rem;
  }
  footer .flex-st .social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer .flex-st .social li {
    width: 50px;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer .copy {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 375px) {
  header {
    padding: 3rem 1rem 4rem 1rem;
  }
  header .container {
    padding: 0;
  }
  header .navigation {
    margin-bottom: 6rem;
  }
  header .navigation .logo {
    width: 7rem;
  }
  header .navigation .btn {
    padding: 0.4rem 1.6rem;
    font-size: 0.8rem;
  }
  header .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .hero .heading {
    max-width: 90%;
  }
  header .hero .heading h1 {
    font-size: 1.8rem;
  }
  header .hero .heading p {
    font-size: 1.1rem;
    color: #00252e;
    line-height: 1.6;
    max-width: 100%;
    margin: 2rem auto;
  }
  header .hero .btn-primary {
    padding: 1rem 4rem;
    font-size: 0.9rem;
  }
  header .hero .hero-img {
    width: 92%;
    margin: 4rem 0 0;
  }
  header .hero .hero-img img {
    width: 100%;
  }
  main .container {
    margin-top: 12vh;
    padding: 0 1rem;
  }
  main .box {
    padding: 4rem 1rem 2rem 1rem;
  }
  main .box .content {
    padding: 0;
    margin-top: 3rem;
  }
  main .box .content h2 {
    font-size: 1.4rem;
  }
  main .box .content p {
    font-size: 1rem;
    max-width: 85%;
  }
  main .box .illustration-wrapper {
    padding: 0;
    max-width: 82%;
  }
  main .box .illustration-wrapper img {
    width: 90%;
    margin: 0 auto;
  }
  .small-box {
    max-width: 88vw;
    padding: 6vh 2vw;
  }
  .small-box h2 {
    font-size: 1.1rem;
  }
  .small-box .btn-primary {
    margin-top: 0.5rem;
    padding: 2vh 10vw;
    font-size: 0.8rem;
  }
  footer {
    text-align: left;
    padding-bottom: 1rem;
  }
  footer .ft-logo {
    margin-right: auto;
    padding-left: 0;
    width: 11rem;
  }
  footer p {
    text-align: left;
    color: white;
  }
  footer ul {
    font-size: 1.2rem;
  }
  footer .flex-st {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .flex-st .informations {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
  }
  footer .flex-st .informations li:not(:first-child) {
    margin-top: 0.8rem;
  }
  footer .flex-st .informations .address .icon {
    width: 20px;
  }
  footer .flex-st .informations .row {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .flex-st .informations .row p {
    margin: 0.5rem;
    font-size: 1rem;
  }
  footer .flex-st .informations .icon {
    width: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 2rem;
  }
  footer .flex-st .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 2.5rem 0;
  }
  footer .flex-st .menu li {
    padding-top: 0.9rem;
  }
  footer .flex-st .social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer .flex-st .social li {
    width: 32px;
    height: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer .copy {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */